<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="OcaBase.Properties.Settings.OcarinabotConnectionString" connectionString="Data Source=LAPTOP-FANIQR9C\SQLEXPRESS;Initial Catalog=Ocarinabot;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
</configuration>
